@use '../abstracts/color';

@mixin flex_horizontal {
  display: flex;
  gap: 2.8rem;
  justify-content: space-between;
  align-items: center;
}

@mixin flex_vertical {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

@mixin list {
  list-style: none;
  font-size: 0.9rem;
  font-weight: 600;
  color: color.$neutral-grayish-violet;
  border-radius: 20px;
  padding: 10px 20px;
}

@mixin CTA_button {
  background-color: color.$primary-cyan;
  color: white;
  padding: 8px 16px;
  border-radius: 20px;
  font-family: 'Poppins Bold';
  border: none;
}

@mixin button_hover {
  color: white;
  cursor: pointer;
  background-color: #9CE2E2;
}