@use '../abstracts/color';
@use '../abstracts/mixins';
@use '../abstracts/variables';

.cta {
  @include mixins.flex_vertical;
  background-image: url('../../images/bg-boost-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: color.$primary-dark-violet;
  align-items: center;
  gap: 0.5rem;
  padding-block: 3rem;
  min-width: 100%;

  h2 {
    font-family: 'Poppins Bold';
    color: white;
    margin-bottom: 16px;
  }

  button {
    @include mixins.CTA_button;
    border: none;
    font-size: 1rem;

    &:hover {
      @include mixins.button_hover;
    }
  }
}