@use '../abstracts/color';
@use '../abstracts/mixins';
@use '../abstracts/variables';

.feature_heading {
  text-align: center;
  margin-block: 3rem 5rem;
  color: color.$primary-dark-violet;

  h2 {
    font-family: 'Poppins Bold';
    margin-bottom: 1rem;
  }

  p {
    font-family: 'Poppins Medium';
  }
}

.feature_container {
  @include mixins.flex_horizontal;
  background: linear-gradient(
    to bottom,
    transparent 53.5%,
    color.$primary-cyan 53.5% 56.5%,
    transparent 56.5%
  );
  
  position: relative;
  margin-bottom: 70px;

  .feature {
    @include mixins.flex_vertical;
    background: white;
    font-family: 'Poppins Medium';
    padding: 30px;
    border-radius: 6px;
    position: relative;
    min-width: 280px;

    .feature_image {
      background: color.$primary-dark-violet;
      border-radius: 50%;
      height: 80px;
      width: 80px;
      position: relative;
      margin-top: -70px;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    h3 {
      font-family: 'Poppins Bold';
      margin-block: 1.8rem 0.8rem;
    }

    p {
      font-size: 0.9rem;
      color: color.$primary-dark-violet;
      text-align: start;
      font-family: 'Poppins Medium';     
      font-weight: 500;
    }
  }

  .feature[id='Detailed Records'] {
    top: 50px;
  }

  .feature[id='Fully Customizable'] {
    top: 100px;
  }
}

@media screen and (max-width: variables.$medium-min-width) {
  .feature_container {
    @include mixins.flex_vertical;
    background: linear-gradient(
      to right,
      transparent 49.5%,
      color.$primary-cyan 49.5% 50.5%,
      transparent 50.5% 
    );

    .feature {
      h3, p {
        text-align: center;
      }  
      
      .feature_image {
        left: 50%;
        transform: translateX(-50%);
      }
    } 
  }
}