@use '../abstracts/color';
@use '../abstracts/mixins';
@use '../abstracts/variables';

.footer {
  @include mixins.flex_horizontal;
  align-items: start;
  padding: 3rem variables.$large-inline-padding;
  background-color: color.$neutral-very-dark-violet;

  .footer_links {
    @include mixins.flex_horizontal;
    color: white;
    text-align: left;
    font-family: "Poppins Medium";
    font-size: 0.8rem;
    align-items: start;

    .footer_links_group {
      p {
        line-height: 1.5rem;
      }
    }

    p[id="link_header"] {
      font-family: "Poppins Bold";
      margin-bottom: 1.2rem;
    }

    p:not([id="link_header"]):hover {
      color: color.$primary-cyan;
      cursor: pointer;
    }
  }

  .footer_contact {
    @include mixins.flex_horizontal;
    gap: 3rem;

    img {
      height: 20px;
      width: 20px;

      &:hover {
        color: color.$primary-cyan;
        cursor: pointer;
        filter: invert(50%) sepia(34%) saturate(3245%) hue-rotate(159deg) brightness(92%) contrast(101%);
      }
    }
  }
}

@media screen and (max-width: variables.$medium-min-width) {
  .footer {
    @include mixins.flex_vertical;
    align-items: center;
    gap: 50px;
  }

  .footer_links {
    @include mixins.flex_vertical;

    .footer_links_group {
      margin: 16px auto;
      p {
        text-align: center;
      }
    }
  }
}
