@use '../abstracts/color';
@use '../abstracts/mixins';
@use '../abstracts/variables';

.header {
  @include mixins.flex_horizontal;
  padding: 50px + variables.$nav-height 0 140px variables.$large-inline-padding;
  font-family: 'Poppins Bold';

  .header_slogan {
    flex-basis: 50%;
    
    h1 {
      padding-block: 0.6rem;
      font-size: 3.3rem;
      line-height: 3.5rem;
      color: color.$primary-dark-violet;
    }

    p {
      font-family: 'Poppins Medium';
      color: color.$neutral-grayish-violet;
      margin-bottom: 26px;
    }

    button {
      @include mixins.CTA_button;
      font-size: 1rem;
      
      &:hover {
        @include mixins.button_hover;
      }
    }
  }

  .header_jumbotron {
    flex-basis: 50%;
    overflow-x: hidden;

    img {
      width: 120%;
      height: auto;
    }
  }
  
}

@media screen and (max-width: variables.$small-min-width) {
  .header {
    flex-direction: column-reverse;
    padding-left: variables.$small-inline-padding;
  }

  .header_slogan {
    text-align: center;
    padding-right: variables.$small-inline-padding;
  }

  .header_jumbotron {
    width: 100%;
  }
}