@use '../abstracts/color';
@use '../abstracts/mixins';
@use '../abstracts/variables';

.mainSection {
  background: #F0F1F6;
  padding: 0 variables.$large-inline-padding 120px;
  position: relative;
}

@media screen and (max-width: variables.$small-min-width) {
  .mainSection {
    padding-inline: variables.$small-inline-padding;
  }
}

@media screen and (max-width: variables.$tiny-min-width) {
  .mainSection {
    padding-inline: variables.$tiny-inline-padding;
  }
}