@use '../abstracts/color';
@use '../abstracts/mixins';

$primary-red: rgb(253, 80, 80);

.mainSection {
  background: #F0F1F6;
  padding: 0 9rem 120px;
  position: relative;

  .inputUrlForm {
    padding-inline: 50px;
    position: relative;
    top: -50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;
    padding: 2rem;
    background-color: color.$primary-dark-violet;
    background-image: url('../../images/bg-shorten-desktop.svg');
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: cover;

    input {
      height: 50px;
      border-radius: 8px;
      border: 8px;
      font-size: 1rem;
      
    }

    input::placeholder {
      color: color.$neutral-gray;
    }

    .inputError:focus::placeholder {
      color: transparent;
    }

    input[type='text'] {
      // margin-right: 30px;
      width: 80%;
      padding-left: 30px;
      font-weight: 600;

      &:focus {
        outline: 3px solid color.$primary-cyan;
        border: none;
      }
    }

    input[type='submit'] {
      font-weight: 700;
      background-color: color.$primary-cyan;
      width: 20%;
      color: white;
      cursor: pointer;

      &:hover {
        @include mixins.button;
        color: white;
      }
    } 
    
    .error_message {
      position: absolute;
      top: 85px;
      left: 62px;
      font-size: 0.8rem;
      color:$primary-red;
    }

    .inputError {
      border: 2px solid $primary-red;
    }

    .inputError::placeholder {
      color: $primary-red;
    }
  }

  h2, p {
    text-align: center;
  }

  h2 {
    font-family: 'Poppins Bold';
    margin-block: 1.2rem 1rem;
    color: color.$neutral-very-dark-blue;
    font-size: 2rem;
  }

  p {
    font-family: 'Poppins Medium';
    font-size: 0.95rem;
    color: color.$primary-dark-violet;
    font-weight: 600;
    opacity: 0.5;
    letter-spacing: 0.2px;
    padding-bottom: 100px;
  }
  
  .shortenedLinks_wrapper {
    position: relative;
    top: -60px;
    // display: flex;
    // flex-direction: column;

    .shortenedLink {
      margin-right: 20px;
      display: inline;
      color: color.$primary-cyan;
    }
  
    .link_wrapper {
      position: relative;
      background-color: white;
      opacity: 1;
      padding: 1.125rem 1.6rem;
      border-radius: 8px;
      margin-top: 20px;
      // height: 50px;
      border-radius: 8px;
      display: flex;
      gap: 10px;
      justify-content: space-between;
      align-items: center;
  
      > p {
        flex-basis: 60%;
        padding-bottom: unset;
        opacity: 1;
        text-align: left;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
  
      &:hover .deleteIcon {
        display: block;
      }
  
      button {
        padding: 8px 20px;
        background-color: color.$primary-cyan;
        border: none;
        border-radius: 6px;
        color: white;
        cursor: pointer;
        font-family: "Poppins Bold";
  
        &:hover {
          @include mixins.button;
        }
      }
  
      .copiedButton {
        background-color: color.$primary-dark-violet;
      }
    }
    
    .deleteIcon {
      position: absolute;
      right: -26px;
      top: -10px;
      cursor: pointer;
      display: none;
      opacity: 0.6;
      filter: brightness(0) saturate(100%) invert(18%) sepia(20%) saturate(1272%) hue-rotate(217deg) brightness(96%) contrast(91%);
  
      &:hover {
        opacity: 0.9;
      }
    
    }
  }
}

@media screen and (max-width: 835px) {
  .mainSection {
    padding-inline: 2rem;

    .inputUrlForm {
      flex-direction: column;
      justify-content: center;
      
      input[type='text'] {
        width: 100%;
        padding-left: 30px;
      }

      input[type='submit'] {
        width: 100%;
      }

      .error_message {
        top: 116px;
        left: 36px;
      }
    }
    
  }
}

@media screen and (max-width: 1172px) {
  .shortenedLinks_wrapper {
    top: -110px;

    .link_wrapper {
      flex-direction: column;
      justify-content: center;
      padding-inline: unset;

      > p {
        text-align: justify;
        width: 100%;
        flex-basis: 100%;
        padding: 0 1.6rem;
        // border-bottom: 2px solid black;
      }

      .shortenedLink {
        padding-bottom: unset;
        margin-right: unset;
      }

      .hr_line {
        height: 1px; 
        background-color: color.$neutral-gray; 
        border: none; 
        
        width: 100%;
      }

      button {
        display: block;
        text-align: center;
        margin: 10px auto 0;
      }
    }
  }
}