@use '../abstracts/color';
@use '../abstracts/mixins';
@use '../abstracts/variables';

.nav {
  @include mixins.flex_horizontal;
  height: variables.$nav-height;
  position: fixed;
  background: white;
  min-width: 100%;
  z-index: 100;
  padding: 0 variables.$large-inline-padding;
  font-family: 'Poppins Bold';
  
  .nav_link_wrapper {
    @include mixins.flex_horizontal;
    flex-basis: 80%;

    ul {
      @include mixins.flex_horizontal;
      list-style: none;
      color: color.$neutral-grayish-violet;

      li {
        &:hover {
          color: color.$neutral-very-dark-violet;
          cursor: pointer;
        }
      }

      li[id='signUp'] {
        @include mixins.CTA_button;

        &:hover {
          @include mixins.button_hover;
        }
      }
    }
  }

  .nav_small {
    display: none;
  }
}

@media screen and (max-width: variables.$medium-min-width) {
 .nav {
  .nav_link_wrapper {
    display: none;
  }

  .nav_small {
    display: block;
  }

  .nav_toggle {
    top: variables.$nav-height;
    left: 50%;
    transform: translateX(-50%);
    background-color: color.$primary-dark-violet;
    display: block;
    position: absolute;
    padding: 2rem;
    min-width: calc(100vw - 2*variables.$large-inline-padding);
    border-radius: 12px;
    
    ul {
      @include mixins.flex_vertical;
      line-height: 1rem;
      color: white;
    }

    ul[id='link_menu'] {
      padding-bottom: 25px;
      border-bottom: 1px solid color.$neutral-gray;
    }

    ul:not([id='link_menu']) {
      margin-top: 25px;
    }
  } 
 }
 
}

@media screen and (max-width: variables.$small-min-width) {
  .nav {
    padding: 1.8rem variables.$small-inline-padding;

    .nav_toggle {
      min-width: calc(100vw - 2*variables.$small-inline-padding);
    }
  }
}

@media screen and (max-width: variables.$tiny-min-width) {
  .nav {
    padding: 1.8rem variables.$tiny-inline-padding;
    .nav_toggle {
      min-width: calc(100vw - 2*variables.$tiny-inline-padding);
    }
  }
}